body {
    text-align: center;
}

#log_out {
    margin-left: 1075px;
    margin-top: 10px;
    width: 75px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
}

#logo_app_room {
    width: 100px;
    height: 100px;
    margin-right: 200px;
}

    #logo_app_room:hover {
        cursor: default;
    }

#app_room_intro {
    margin-right: -150px;
    margin-top: -65px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#top-room {
    background-color: aquamarine;
    height: 60px;
}

#main-room {
    background-color: #6383a8;
    height: 110px;
}

#welcome-tag {
    margin-top: 50px;
    margin-right: -50px;
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#description {
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-left: 50px;
    margin-top: 25px;
}

#create-room {
    margin-top: 25px;
    width: 250px;
    margin-left: 495px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: black;
}

#current-rooms {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: black;
    margin-right: -50px;
    margin-top: 25px;
}

#output {
    background-color: #6383a8;
}

#finish {
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    margin-right: -50px;
}

#log_out_2 {
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    margin-right: -1100px;
}

#send-message {
    color: white;
    margin-top: -150px;
    font-family: 'Raleway', sans-serif;
}

#message {
    text-align: center;
    width: 300px;
    font-family: 'Raleway', sans-serif;
}

#send {
    font-family: 'Raleway', sans-serif;
}

#send-room {
    background-color: #6383a8;
}

#output {
    height: 430px;
}
