body {
    text-align: center;
    background-color: #6383a8;
}

#log_out {
    margin-left: 1075px;
    margin-top: 10px;
    width: 75px;
    height: 40px;
    font-family: 'Raleway', sans-serif;
}

#logo_app_room {
    width: 100px;
    height: 100px;
    margin-right: 200px;
}

#app_room_intro {
    margin-right: -150px;
    margin-top: -65px;
    font-family: 'Raleway', sans-serif;
}
